<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/stylesheets::head">

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="fragments/header::leftNavbar"></ul>
        <!-- Right navbar links -->
        <ul th:replace="fragments/header::rightNavbar"></ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:replace="fragments/sidebar::brandLogo"></a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav th:replace="fragments/sidebar::sidebarMenu"></nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">View Book</h1>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 0; padding: 0">

        <!-- Starting User Profile -->
        <div class="row py-5">
            <div class="col-md-6 offset-md-3">
                <div class="card card-widget widget-user-2">
                    <div class="bg-info p-4">
                        <h3>Book Details</h3>
                    </div>
                    <div class="card-footer p-0">
                        <div class="table-responsive">
	                        <table class="table">
	                            <tbody>
	                                <tr>
	                                    <th scope="row">Title</th>
	                                    <td th:text="${book.name}"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">Author</th>
	                                    <td th:text="${book.author}"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">Publisher</th>
	                                    <td th:text="${book.publisher}"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">Edition</th>
	                                    <td th:text="${book.edition}"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">ISBN Number</th>
	                                    <td th:text="${book.isbnNumber}"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">Price</th>
	                                    <td th:text="${book.price}"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row">Status</th>
	                                    <td><span class="badge badge-success" th:text="${book.status}"></span></td>
	                                </tr>
	                                <tr>
	                                	<td><a class="btn btn-primary mt-2" th:href="@{/books/{id}/update (id = ${book.id}) }">Edit Profile</a></td>
	                                	<td></td>
	                                </tr>
	                            </tbody>
	                        </table>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Footer -->
    <footer class="main-footer" th:replace="fragments/footer::footer"></footer>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>

