<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/stylesheets::head">

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul th:replace="fragments/header::leftNavbar"></ul>
        <!-- Right navbar links -->
        <ul th:replace="fragments/header::rightNavbar"></ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:replace="fragments/sidebar::brandLogo"></a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav th:replace="fragments/sidebar::sidebarMenu"></nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Add User</h1>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 0; padding: 0">
        <!-- /.content-header -->

        <!-- Starting Add Book Form -->
        <div class="add-book-form p-3">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="card p-3">
                        <h3 class="text-center my-3">User Details</h3>
                        <form method="POST" th:action="@{/users}" th:object="${user}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input
                                            class="form-control"
                                            id="firstName"
                                            name="firstName"
                                            placeholder="Enter First Name"
                                            th:field="*{firstName}"
                                            type="text"
                                    >
                                </div>

                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input class="form-control"
                                           id="lastName"
                                           name="lastName"
                                           placeholder="Enter Last Name"
                                           th:field="*{lastName}"
                                           type="text"
                                    >
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input
                                            class="form-control"
                                            id="email"
                                            name="email"
                                            placeholder="Enter Email"
                                            th:field="*{email}"
                                            type="email"
                                    >
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input
                                            class="form-control"
                                            id="password"
                                            name="password"
                                            placeholder="Enter Password"
                                            th:field="*{password}"
                                            type="password"
                                    >
                                </div>

                                <div class="form-group">
                                    <label>Roles</label>
                                    <div class="col-sm-8">
                                        <th:block th:each="role : ${roles}">
                                            <input class="m-2"
                                                   th:field="*{roles}"
                                                   th:text="${role.name}"
                                                   th:value="${role.id}"
                                                   type="checkbox"/> <br>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Footer -->
    <footer class="main-footer" th:replace="fragments/footer::footer"></footer>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>